@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#burguer{
    background-color: rgb(58, 58, 58);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}
#burguer:hover{
    background-color: white;
    color: black;
    transition-duration: 0.3s;

}
menu{
    display: none;
}

body{
    background-color: #E3E3E1;
    
}
header{
    background-color: #989896;
}
h1{
    text-align: center;
    padding: 10px;
    
}
ul{
    
    margin-left: 3px;
    list-style-type: none;
    
}
li{
    
    padding: 10px;
    background-color: #515251;    
    border: solid 1px #989896;
    margin: auto;
    display: block;
    text-align: center;
    
}
li:hover{
    background-color: #E3E3E1;
    transition-duration: 0.5s;
    
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main{
    margin: 5px 30px 5px 30px;
}
article.main{
    background-color: #FFFFFF;
    max-width: 800px;
    min-width: 300px;
    display: block;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
h2{
    margin-bottom: 10px;
}
p{
    line-height: 20px;
    margin-bottom: 20px;
}

