@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


section{
    padding: 10vh;
    
    
    

}
section.normal{
    background-color: white;
    color: black;
    padding-left: 30px;    
}


section.imagem {
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
    background-position: center top;
}
section.imagem p {
    background-color: rgba(0, 0, 0, 0.562);
    display: inline-block;
    padding: 10px 30px 10px 30px;
    text-shadow: 1px 2px 2px black;
    
    
}
section#img1 {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    

}
section#img2 {
    background-image: url('imagens/background002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    min-height: 100%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

header h1{
    font-size: 8vw;
    margin: 0px;
    font-family: "Passion One", cursive;
    

    
}
header a {
   color: white;
   text-decoration: none;
   

}
a:hover {
    text-decoration: underline;
}
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding-top: 20px;
}

main {
    
    
}
main p { 
    font-family: Sriracha, cursive;
    font-size: 4vw;
    border-radius: 10px;
    
    
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 2vh 2vw;
    padding: 10px;

}